/*////////////////CAROUSEL///////////////*/
ol.carousel-indicators {
    margin-top: 0;
    margin-bottom: 13rem!important;
  }
.carousel-caption.d-none.d-md-block.p-5 {
    bottom: 13rem;
}
.mt-2.bd-example.position-relative {
    margin-top: 3.5rem!important;
}