@font-face {
  font-family: 'joker-font';
  src: url('fonts/GothicJoker-gxxGP.ttf')
}
p{
    text-align: justify; 
    text-indent: 50px;
}
/*///////////ESTILIZAÇÃO DO CONTEÚDO ///////////////////*/
body {
  position: relative;
  padding-bottom: 10px;
  min-height: calc(110vh - 320px);
}
main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 320px) !important;
}
/* ////////ESTILIZACAO DO ARTIGO////////// */
article {
  padding: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 10px;
}
article h2 {
  margin: 10px 0 25px 0;
}
/* Last child é o ultimo elemento da pagina */
article:last-child {
  margin: -150px 0 25px 0;
  
}
article p {
  margin-top: 16px;
  line-height: 24px;
}
/*TAMANHO E COR DO FOOTER ///////////////////*/

.footer {
  padding: 20px 25px 25px 20px;
  background-color: rgb(44, 44, 44);
  color: white;
  position: relative;
  bottom: 0;
}

/* ////////ESTILIZAÇÃO DO ELEMENTOS DO FOOTER/////////// */
.footer hr {
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #ccc;
margin: 1em 0; 
padding: 0; 
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}
    
  .button-ingresso span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-ingresso span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-ingresso:hover span {
    padding-right: 25px;
  }
  
  .button-ingresso:hover span:after {
    opacity: 1;
    right: 0;
  }