@font-face {
  font-family: 'joker-font';
  src: url('fonts/GothicJoker-gxxGP.ttf')
}
p{
    text-align: justify; 
    text-indent: 30px;
}
/*ESTILIZAÇÃO DO CONTEÚDO ///////////////////*/

body {
  background-color: #f1f1f1;
  position: relative;
  padding-bottom: calc(110vh -320px);
  min-height: 100vh;
}
main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
}
article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
article h2 {
  margin: 10px 0 25px 0;
}
/* Last child é o ultimo elemento da pagina */
article:last-child {
  margin: 10px 0 25px 0;
}
article p {
  margin-top: 16px;
  line-height: 24px;
}
/*TAMANHO E COR DO FOOTER ///////////////////*/

.footer {
padding: 30px 0 30px 0;
background-color: rgb(44, 44, 44);
color: white;
position: absolute;
bottom: 0;
}
/* ////////ESTILIZAÇÃO DO ELEMENTOS DO FOOTER/////////// */
.footer hr {
display: block; 
height: 1px;
border: 0; 
border-top: 1px solid #ccc;
margin: 1em 0; 
padding: 0; 
}
.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}

.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;} */


.footer .category a {
text-decoration: none;
color: #fff;
display: inline-block;
padding: 5px 20px;
margin: 1px;
border-radius:4px;
margin-top: 6px;
background-color: black;
border: solid 1px #fff;
} 


/*ANIMAÇÃO DO BOTÃO COMPRAR INGRESSO ///////////////////*/
  .button-ingresso span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-ingresso span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-ingresso:hover span {
    padding-right: 25px;
  }
  
  .button-ingresso:hover span:after {
    opacity: 1;
    right: 0;
  }